@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");

:root {
  /* Background main */

  --main: #0d1117;

  /* Button styling */

  --primary: #02d36f;
  --button-shadow: 0px 0px 12px 2px #18ff90;
  --button-size: 1.2rem 2.4rem;
  --font-size: 1.5rem;
  --font-style: "Poppins", sans-serif;
  --border: none;
  --corner-radius: 15px;
  --links: #fff;
  --header-shadow: 0px 10px 10px 0px rgba(41, 41, 51, 0.829);
  /* Icons styling */

  --icon-bg: #579879;

  /* Card-styling */

  --card-bg: #323142;
  --card-shadow: 26px 26px 50px rgba(17, 15, 30, 0.55);

  /* Hero Image Styling */
  --background-position: center;

  --background-repeat: inherit;
  --background-size: cover;
  --box-shadow: 0px 0px 10px 2px #18ff90;

  /* Project, hero, contact styling  */
  --bg-main: #282732;
  --services-section-bg: rgb(12, 24, 21);
  --service-card: #323142;
  --project-card-bg: #444343;

  /* Mobile Menu Button Styling */
  --transition: all 0.3s linear;
  --cv-bg: #00994f;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
  /* outline: 2px solid springgreen; */
}

html {
  scroll-behavior: smooth;
}

body,
#home {
  background: var(--main);
  overflow-x: hidden;
}

.container {
  width: 95vw;
  margin: 0 auto;
  padding: 1.5rem 0;
  align-items: center;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--links);
}

/* Navigation Style */

header {
  /* outline: 1px solid var(--links); */
  position: fixed;
  width: 100vw;
  z-index: 1;
  background-color: var(--main);
  box-shadow: var(--header-shadow);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  background-color: var(--links);
  transition: 0.3s ease-in-out;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.cv {
  display: none;
}

.nav-link {
  font-size: 1.2rem;
  font-weight: 400;
  color: var(--links);
}

.nav-link:hover {
  color: var(--primary);
  transition: 0.4s ease all;
}

.nav-logo {
  color: var(--links);
  font-size: 1.5rem;
  font-weight: 700;
}
.concept {
  color: var(--primary);
}

.hero-btn {
  z-index: -1;
}

button {
  cursor: pointer;
  background: var(--primary);
  border: none;
  border-radius: 15px;
  padding: 1rem 1.5rem;
  font-size: 1.5rem;
  color: var(--links);
  box-shadow: var(--button-shadow);
}

button:hover {
  background-color: #00994f;
  transition: 0.4s ease all;
}

/* Hero style */

.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 7.5rem 1rem 3rem 1rem;
}

.hero-left {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-right: 10rem;
}

.hero-left .greeting {
  font-size: 1.8rem;
  font-weight: 500;
  color: var(--links);
  letter-spacing: 2px;
}

.hero-text span {
  color: var(--primary);
}
.hero-left h1 {
  color: var(--primary);
  font-size: 5rem;
}
.role {
  font-size: 1.8rem;
  font-weight: 500;
  color: var(--links);
}
.hero-left p {
  color: var(--links);
  font-size: 1.1rem;
  font-weight: lighter;
  /* margin: 1rem 2rem; */
  padding: 1rem 5rem 1rem 0;
}

.hero-btn {
  margin: 1rem 0;
}

.hero-image img {
  object-fit: cover;
  box-shadow: var(--box-shadow);
  width: 25rem;
  height: 25rem;
  /* margin-right: 10.5rem; */
  border-radius: 100%;
  transform: scaleX(-1);
  /* z-index: -1; */
}

.social-icons {
  display: flex;
  align-items: center;
  margin: 1.5rem 0;
  gap: 1rem;
}

.connect h5 {
  color: var(--links);
  font-weight: lighter;
  font-size: 1.1rem;
}
.icon {
  display: flex;
  gap: 15px;
}
.icons {
  color: var(--links);
  background-color: var(--icon-bg);
  font-size: 1.5rem;
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
}

.social-icons .icons:hover {
  background-color: var(--primary);
  box-shadow: var(--box-shadow);
  transition: 0.9s ease-in-out;
  transform: translateY(20px);
}

/* Service Styling */

#service {
  background-color: var(--services-section-bg);
  overflow-x: hidden;
}

.services {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 3.5rem;
  padding: 2rem 0;
}

.services-header {
  color: var(--links);
  text-align: center;
  padding: 2rem 0;
}
.tag-heading {
  font-size: 1.5rem;
  font-weight: normal;
  letter-spacing: 0.2rem;
}
.service-title {
  text-align: center;
  font-size: 3rem;
}

.card-main {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-between;
  /* display: flex;
justify-content: center;
align-items: center; */
gap: 45px;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 330px;
  height: 330px;
  /* padding-bottom: 1rem; */
  background: var(--service-card);
  border-radius: 15px;
  box-shadow: var(--card-shadow);
}
.card-info {
  text-align: center;
  padding: 1rem;
  color: var(--links);
}
.card-info .service-icon {
  font-size: 4rem;
  color: var(--primary);
  margin-bottom: 0.5rem;
}

.card-info .service-type {
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 1.2rem;
  color: var(--links);
}

.service-description {
  font-size: 0.9rem;
}
/* Preloader styling */
.preloader {
  position: fixed;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  background-color: var(--links);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  visibility: visible;
  z-index: 999;
  transition: var(--transition);
}
.hide-preloader{
  z-index: -999;
  visibility: none;
}

.load{
  color: var(--bg-main);
  font-size: 5rem;;
  margin-bottom: 1rem;;
}

/* Media Queries for small device */

@media (max-width: 599px) {
  .container {
    /* margin: 0 1rem 0 0rem; */
    width: 95vw;
  }

  header {
    position: fixed;
    box-shadow: none;
    top: 0;
  }

  .nav-menu {
    position: fixed;
    left: -100%;
    top: 0.001em;
    flex-direction: column;
    width: 75%;
    height: 100%;
    text-align: center;
    transition: 0.3s;
    background: linear-gradient(
      180deg,
      #282732 0%,
      rgba(66, 64, 85, 0.62) 100%
    );
    box-shadow: -20px 26px 50px rgba(0, 0, 0, 0.67);
    z-index: 1;
  }

  .nav-menu.active {
    left: 0;
  }

  .nav-item {
    margin: 2.5rem 0;
  }

  .cv {
    display: block;
    padding: 1rem 2.4rem;
    box-shadow: 0px 0px 24px 2px #18ff90;
    background: var(--primary);
    border-radius: 15px;
  }
  .cv a:hover {
    color: var(--links);
  }
  .cv:hover {
    background-color: var(--cv-bg);
    color: var(--links);
  }

  .btn {
    margin-left: 0rem;
    order: 4;
  }

  .hamburger {
    display: block;
    cursor: pointer;
    /* margin-left: 13rem; */
  }

  .hamburger.active {
    z-index: -4;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
    z-index: 1;
  }
  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
    z-index: 1;
  }

  .nav-btn {
    display: none;
  }
  /* Hero Styling for mobile */

  .hero {
    flex-direction: column;
    justify-content: center;
    margin: 2.5rem 0;
    /* z-index: -1; */
  }

  .hero-left {
    margin-right: -0.5rem;
    /* margin-top: 2.7rem; */
    text-align: center;
    order: 1;
    width: 500px;
  }

  .hero-text {
    justify-content: center;
    display: flex;
    flex-direction: column;
  }

  .social-icons {
    flex-direction: column;
    order: 3;
  }

  .icons {
    border-radius: 100%;
  }
  .hero-image {
    margin: 2rem 0;
    padding: 0.5rem;
  }

  .hero-image img {
    object-fit: cover;
    box-shadow: var(--box-shadow);
    width: 20rem;
    height: 20rem;
    margin-top: 1rem;
    border-radius: 100%;
    transform: scaleX(1);
    z-index: -1;
  }
  .hero-left h1 {
    font-size: 3rem;
  }
  .role {
    font-size: 1.2rem;
  }

  .hero-left p {
    font-size: 0.9rem;
    padding: 0 5rem;
    margin: 1rem 0;
  }

  /* Service Styling for mobile */

  .card-main {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    padding: 3rem 5rem;
  }

  .service-title {
    font-size: 2rem;
  }

  .card {
    width: 300px;
    height: 300px;
  }
}
