@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");

:root {
  /* Background main */

  --main: #0d1117;

  /* Button styling */

  --primary: #02d36f;
  --button-shadow: 0px 0px 12px 2px #18ff90;
  --button-size: 1.2rem 2.4rem;
  --font-size: 1.5rem;
  --font-style: "Poppins", sans-serif;
  --border: none;
  --corner-radius: 15px;
  --links: #fff;
  --header-shadow: 0px 10px 10px 0px rgba(41, 41, 51, 0.829);
  /* Icons styling */

  --icon-bg: #579879;

  /* Card-styling */

  --card-bg: #323142;
  --card-shadow: 26px 26px 50px rgba(17, 15, 30, 0.55);

  /* Hero Image Styling */
  --background-position: center;

  --background-repeat: inherit;
  --background-size: cover;
  --box-shadow: 0px 0px 10px 2px #18ff90;

  /* Project, hero, contact styling  */
  --bg-main: #282732;
  --services-section-bg: rgb(12, 24, 21);
  --service-card: #323142;
  --project-card-bg: #444343;

  /* Mobile Menu Button Styling */
  --transition: all 0.3s linear;
  --cv-bg: #00994f;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
  /* outline: 2px solid springgreen; */
}

html {
  scroll-behavior: smooth;
}

body,
#home {
  background: var(--main);
  overflow-x: hidden;
}

.container {
  width: 95vw;
  margin: 0 auto;
  padding: 1.5rem 0;
  align-items: center;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--links);
}

/* Navigation Style */

header {
  position: fixed;
  width: 100vw;
  z-index: 10;
  background-color: var(--main);
  box-shadow: var(--header-shadow);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  background-color: var(--links);
  transition: 0.3s ease-in-out;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.cv {
  display: none;
}

.nav-link {
  font-size: 1.2rem;
  font-weight: 400;
  color: var(--links);
}

.nav-link:hover {
  color: var(--primary);
  transition: 0.4s ease all;
}

.nav-logo {
  color: var(--links);
  font-size: 1.5rem;
  font-weight: 700;
}
.concept {
  color: var(--primary);
}

.hero-btn {
  z-index: -1;
}

button {
  cursor: pointer;
  background: var(--primary);
  border: none;
  border-radius: 15px;
  padding: 1rem 1.5rem;
  font-size: 1.5rem;
  color: var(--links);
  box-shadow: var(--button-shadow);
}

button:hover {
  background-color: #00994f;
  transition: 0.4s ease all;
}

/* Hero style */

.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 7.5rem 1rem 3rem 1rem;
}

.hero-left {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-right: 10rem;
}

.hero-left .greeting {
  font-size: 1.8rem;
  font-weight: 500;
  color: var(--links);
  letter-spacing: 2px;
}

.hero-text span {
  color: var(--primary);
}
.hero-left h1 {
  color: var(--primary);
  font-size: 5rem;
}
.role {
  font-size: 1.8rem;
  font-weight: 500;
  color: var(--links);
}
.hero-left p {
  color: var(--links);
  font-size: 1.1rem;
  font-weight: lighter;
  padding: 1rem 5rem 1rem 0;
}

.hero-btn {
  margin: 1rem 0;
}

.hero-image img {
  object-fit: cover;
  box-shadow: var(--box-shadow);
  width: 25rem;
  height: 25rem;
  border-radius: 100%;
  transform: scaleX(-1);
}

.social-icons {
  display: flex;
  align-items: center;
  margin: 1.5rem 0;
  gap: 1rem;
}

.connect h5 {
  color: var(--links);
  font-weight: lighter;
  font-size: 1.1rem;
}
.icon {
  display: flex;
  gap: 15px;
}
.icons {
  color: var(--links);
  background-color: var(--icon-bg);
  font-size: 1.5rem;
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
}

.social-icons .icons:hover {
  background-color: var(--primary);
  box-shadow: var(--box-shadow);
  transition: 0.9s ease-in-out;
  transform: translateY(20px);
}

/* Service Styling */

#service {
  background-color: var(--services-section-bg);
  overflow-x: hidden;
}

.services {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 3.5rem;
  padding: 2rem 0;
}

.services-header {
  color: var(--links);
  text-align: center;
  padding: 2rem 0;
}
.tag-heading {
  font-size: 1.5rem;
  font-weight: normal;
  letter-spacing: 0.2rem;
}

.service-title,
.title {
  text-align: center;
  font-size: 3rem;
  color: var(--links);
}

.card-main {
  justify-content: space-between;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 45px;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 330px;
  height: 330px;
  background: var(--service-card);
  border-radius: 15px;
  box-shadow: var(--card-shadow);
  position: relative;
  overflow: hidden;
}

.card::before {
  content: "";
  position: absolute;
  width: 150px;
  height: 500px;
  background-color: var(--primary);
  border-radius: 15px;
  animation: animate 0.6s linear infinite;
}

.card::after {
  content: "";
  inset: 4px;
  position: absolute;
  background-color: var(--service-card);
  box-shadow: var(--card-shadow);
  border-radius: 15px;
}

@keyframes animate {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
.card-info {
  text-align: center;
  padding: 1rem;
  color: var(--links);
  position: relative;
  z-index: 1;
}

.card-info .service-icon {
  font-size: 4rem;
  color: var(--primary);
  margin-bottom: 0.5rem;
}

.card-info .service-type {
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 1.2rem;
  color: var(--links);
}

.service-description .info {
  font-size: 0.9rem;
  text-align: center;
}

/* Preloader styling */

.preloader {
  position: fixed;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  background-color: var(--links);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  visibility: visible;
  z-index: 999;
  transition: var(--transition);
  padding: 0 2rem;
}
.hide-preloader {
  z-index: -999;
  visibility: none;
}

.auto-type {
  font-size: 1.5rem;
  text-align: center;
  font-weight: 100;
  color: var(--bg-main);
}

.load {
  color: var(--bg-main);
  font-size: 5rem;
  margin-bottom: 1rem;
}

/* Project Styling */

.project-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 122px 10px;
  background-color: hsla(245, 12%, 17%, 1);
  overflow: hidden;
}
.info {
  text-align: center;
  padding: 0.5rem 20rem;
  color: var(--links);
}

.project-items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem 0;
}

.project {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  padding: 3rem 0;
  margin-top: -2rem;
}
.project-cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* width: 450px; */
  /* height: 300px; */
}
.project-name {
  display: inline-flex;
  color: var(--links);
  align-items: center;
  margin-top: 1rem;
  margin-left: -19rem;
  gap: 0.5rem;
  font-size: 1.5rem;
}

.project-card--image {
  position: relative;
  display: flex;
  /* align-items: center; */
  /* justify-content: center; */
  /* width: 450px; */
  /* height: 300px; */
  border-radius: 15px;
  box-shadow: 9px 6px 17px 1px rgba(0, 0, 0, 0.555);
  background-color: var(--project-card-bg);
}

.project-card--image img {
  object-fit: cover;
  width: 40vw;
  /* height: 500px; */
}

.project-image {
  position: relative;
  /* width: 40vw; */
  /* height: 40vh; */
  margin: 2rem 1rem;
  border-radius: 15px;
}

.card-hover:hover {
  background: var(--primary);
  transition: 0.5s ease all;
}

/* Tesimonial section */

#testimonial {
  background-color: var(--services-section-bg);
  overflow-x: hidden;
}
.testimonial-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3rem;
}
.testimonial-detail {
  text-align: center;
  padding-top: 3rem;
  padding-bottom: 1.5rem;
}

.testimonial-card {
  width: 50rem;
  padding: 1.5rem 1.5rem;
  background: #323142;
  box-shadow: 6px 6px 5px 0px rgba(0, 0, 0, 0.54);
  border-radius: var(--corner-radius);
}
.testimonial-card-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0;
  gap: 16px;
  color: var(--links);
}
.quote {
  font-size: 55px;
  margin-left: 2rem;
}
.testifier-info {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  padding-top: 1.2rem;
}
.testimonial-text {
  text-align: center;
}

.testifier-image {
  width: 100px;
  height: 100px;
  left: 0;
  top: 150px;
  border-radius: 100%;
  box-shadow: var(--box-shadow);
}

.testifier-image img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 100%;
  transform: matrix(-1, 0, 0, 1, 0, 0);
}

.testifier-detail h5 {
  font-size: 1.2rem;
  font-weight: 500;
  margin-bottom: -0.4rem;
}

.arrows {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.testimonial-arrows {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1px;
  height: 1px;
  padding: 1.3rem;
  color: var(--primary);
  margin-top: 1.2rem;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 100%;
  gap: 2rem;
  background-color: #323142;
}

.testimonial-arrows:hover {
  background-color: var(--main);
  transition: 0.4s ease;
}

#connect-card {
  background-color: var(--bg-main);
  overflow-x: hidden;
}

.connect-card-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5rem 0;
  gap: 1rem;
}
.connect-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5rem 1.5rem;
  gap: 1rem;
  background: #323142;
  box-shadow: var(--card-shadow);
  border-radius: 15px;
}

.flash-card-info {
  display: flex;
  align-items: center;
  padding: 0;
  gap: 1rem;
}

.flash-card-detail {
  color: var(--links);
  width: 50rem;
}

.card-title {
  color: var(--links);
  font-size: 3rem;
  padding-left: rem;
  text-align: left;
  line-height: 4.2rem;
}

.flash-card-detail p {
  padding-top: 1.5rem;
}

/* Contact Styling */

#contact {
  background-color: var(--main);
  overflow-x: hidden;
  padding-top: 6rem;
}

.container-main {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  padding: 15rem 0;
}

.container-title {
  margin: 15rem;
}

.contact-image img {
  visibility: visible;
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  gap: 7rem;
  /* width: 50vw; */
  margin: 0 auto;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

textarea {
  width: 30vw;
  height: 30vh;
  padding: 1rem;
  margin: 0.5rem;
  outline: none;
  border-radius: 15px;
  font-size: 1rem;
}
input {
  width: 30vw;
  height: 98h;
  padding: 1rem;
  margin: 0.5rem;
  outline: none;
  border-radius: 15px;
}
input::placeholder {
  font-size: 1rem;
}

textarea::placeholder {
  font-size: 1rem;
}
input[value=""] {
  font-size: 1rem;
}
input[type="submit"] {
  background-color: var(--primary);
  border: none;
  color: var(--links);
  font-size: 1.1rem;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #00994f;
  transition: 0.4s ease all;
}

/* Footer Section */
#footer {
  background-color: var(--services-section-bg);
  overflow-x: hidden;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 0;
}

.attribution {
  color: var(--links);
  font-size: 1.2rem;
  /* letter-spacing: .1rem; */
  font-weight: lighter;
}

.copyright {
  color: var(--links);
}

.policy-marker {
  display: flex;
  align-items: center;
  gap: 2.5rem;
}

.policy-marker a:hover {
  color: #5a6472;
}

/* Media Queries for small device */

@media (max-width: 599px) {
  .container {
    width: 95vw;
  }

  header {
    position: fixed;
    box-shadow: none;
    top: 0;
  }

  .nav-menu {
    position: fixed;
    left: -100%;
    top: 0.001em;
    flex-direction: column;
    width: 75%;
    height: 100%;
    text-align: center;
    transition: 0.3s;
    background: linear-gradient(
      180deg,
      #282732 0%,
      rgba(66, 64, 85, 0.62) 100%
    );
    box-shadow: -20px 26px 50px rgba(0, 0, 0, 0.67);
    z-index: 1;
  }
  .nav-menu {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0;
  }

  .nav-menu.active {
    left: 0;
  }

  .nav-item {
    margin: 2.5rem 0;
  }

  .cv {
    display: block;
    padding: 1rem 2.4rem;
    box-shadow: 0px 0px 24px 2px #18ff90;
    background: var(--primary);
    border-radius: 15px;
  }
  .cv a:hover {
    color: var(--links);
  }
  .cv:hover {
    background-color: var(--cv-bg);
    color: var(--links);
  }

  .btn {
    margin-left: 0rem;
    order: 4;
  }

  .hamburger {
    display: block;
    cursor: pointer;
  }

  .hamburger.active {
    z-index: -4;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
    z-index: 1;
  }
  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
    z-index: 1;
  }

  .nav-btn {
    display: none;
  }
  /* Hero Styling for mobile */

  .hero {
    flex-direction: column;
    justify-content: center;
    margin: 2.5rem 0;
  }

  .hero-left {
    margin-right: -0.5rem;
    text-align: center;
    order: 1;
    width: 500px;
  }

  .hero-text {
    justify-content: center;
    display: flex;
    flex-direction: column;
  }

  .social-icons {
    flex-direction: column;
    order: 3;
  }

  .icons {
    border-radius: 100%;
  }
  .hero-image {
    margin: 2rem 0;
    padding: 0.5rem;
  }

  .hero-image img {
    object-fit: cover;
    box-shadow: var(--box-shadow);
    width: 20rem;
    height: 20rem;
    margin-top: 1rem;
    border-radius: 100%;
    transform: scaleX(1);
    z-index: -1;
  }
  .hero-left h1 {
    font-size: 3rem;
  }
  .role {
    font-size: 1.2rem;
  }

  .hero-left p {
    font-size: 0.9rem;
    padding: 0 5rem;
    margin: 1rem 0;
  }

  /* Service Styling for mobile */

  .services {
    margin-top: 0;
  }

  .card-main {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    padding: 1rem 5rem;
  }

  .service-title,
  .title {
    font-size: 2rem;
  }

  .card {
    width: 300px;
    height: 300px;
  }
  .auto-type {
    margin-top: 1rem;
    font-size: 1.1rem;
    text-align: center;
    font-style: italic;
  }

  /* Project Styling */

  .project-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5rem 0;
    background-color: hsla(245, 12%, 17%, 1);
    overflow: hidden;
  }
  .info {
    text-align: center;
    padding: 0.5rem 1rem;
    color: var(--links);
  }
  .project {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 2rem 0;
    /* margin-top: rem; */
  }
  .project-items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;
  }

  .project-card--image {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 333px;
    height: 20vh;
    box-shadow: none;
    border-radius: 15px;
    background-color: hsla(245, 12%, 17%, 1);
  }

  .project-card--image img {
    object-fit: cover;
    width: 95vw;
    /* height: 500px; */
  }

  .card-hover:hover {
    background: none;
    transition: none;
  }
  .project-image {
    width: 90vw;
    border-radius: 15px;
    object-fit: cover;
  }

  .project-name {
    display: inline-flex;
    color: var(--links);
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
    margin-left: 0;
    /* gap: 0.5rem; */
    font-size: 1.5rem;
  }
  /* Testimonial Section */

  .testimonial-detail {
    text-align: center;
    padding: 2rem 0 2rem 0;
  }
  .testimonial-card {
    width: 20rem;
    padding: 1.2rem 1rem;
  }

  .testifier-info {
    padding-top: 0;
  }

  .testifier-image,
  .testifier-image img {
    width: 83px;
    height: 83px;
  }
  .testimonial-card-info {
    gap: 1rem;
  }

  .testimonial-arrows {
    width: 1px;
    height: 1px;
    margin-top: 1rem;
    font-size: 1rem;
  }

  .testimonial-text {
    font-size: 1rem;
    font-weight: 400;
  }

  /* Connect Card */

  .connect-card {
    width: 90vw;
  }

  .flash-card-info {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .flash-card-detail {
    color: var(--links);
    width: 22rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .card-title {
    text-align: center;
    font-size: 1.7rem;
    line-height: 2rem;
  }

  .flash-card-detail p {
    font-size: 1.2rem;
    padding: 2rem 1rem 0;
    text-align: center;
    margin-bottom: 1rem;
  }

  /* Contact Styling */

  #contact {
    padding: 6rem 0;
  }

  .form-container {
    flex-direction: column;
    gap: 0;
  }
  .contact-title {
    font-size: 2rem;
  }
  input {
    width: 90vw;
  }

  input::placeholder {
    text-align: center;
  }

  textarea {
    width: 90vw;
  }

  textarea::placeholder {
    text-align: center;
  }

  .contact-image img {
    display: none;
  }

  footer {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem 0;
    gap: 1rem;
  }

  .policy-marker {
    display: flex;
    justify-content: center;
    gap: 1.2rem
  }
}
