@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");

:root {
  /* Button styling */

  --primary: #02d36f;
  --button-shadow: 0px 0px 24px 2px #18ff90;
  --button-size: 1.2rem 2.4rem;
  --font-size: 1.5rem;
  --font-style: "Poppins", sans-serif;
  --border: none;
  --corner-radius: 15px;
  --links: #fff;

  /* Icons styling */

  --icon-bg: #579879;

  /* Card-styling */

  --card-bg: #323142;
  --card-shadow: 26px 26px 50px rgba(17, 15, 30, 0.55);

  /* Hero Image Styling */
  --background-position: center;

  --background-repeat: inherit;
  --background-size: cover;
  --box-shadow: 0px 0px 10px 2px #18ff90;

  /* Project, hero, contact styling  */
  --bg-main: #282732;
  --project-card-bg: #444343;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
  /* outline: 2px solid springgreen; */
}

html {
    scroll-behavior: smooth;
  }
  
  body,
  #home {
    background: hsla(245, 12%, 17%, 1);
    overflow-x: hidden;
  }
  
  .container {
    width: 95vw;
    margin: auto;
    padding: 3rem 0;
    align-items: center;
  }
  
  li {
    list-style: none;
  }
  
  a {
    text-decoration: none;
    color: white;
  }

  /* Navigation Style */
  
  header {
    outline: 1px solid white;
  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .hamburger {
    display: none;
  }
  
  .bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    background-color: #fff;
    transition: 0.3s ease-in-out;
  }
  
  .nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
  }
  
  .cv {
    display: none;
  }
  
  .nav-link {
    font-size: 1.2rem;
    font-weight: 400;
    color: white;
  }
  
  .nav-link:hover {
    color: var(--primary);
    transition: 0.4s ease all;
  }
  
  .nav-logo {
    color: #fff;
    font-size: 1.5rem;
    font-weight: 700;
  }
  .concept {
    color: var(--primary);
  }
  
  .hero-btn {
    z-index: -1;
  }
  
  button {
    cursor: pointer;
    background: var(--primary);
    border: none;
    border-radius: 15px;
    padding: 1rem 2.4rem;
    font-size: 1.5rem;
    color: var(--links);
    box-shadow: 0px 0px 24px 2px #18ff90;
  }
  
  button:hover {
    background-color: #00994f;
  }
  